# Entorno virtual
env/
venv/
ENV/
.venv/
.env
env

# Credenciales y keys
keys/
*.json

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Archivos de configuración de herramientas
*.log
*.sqlite3

# Archivos de VSCode y otros editores
.vscode/
.idea/
*.swp

# Archivos de pruebas y cobertura
htmlcov/
.coverage
.tox/
.pytest_cache/

# Archivos de dependencias
*.egg-info/
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db
