fastapi
uvicorn[standard]
pymongo
flake8
isort
black
pydantic
python-dotenv
PyJWT
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
google-cloud-aiplatform
google-auth
openai
pymongo
google-auth-oauthlib