fastapi
uvicorn[standard]
firebase-admin==6.3.0
flake8
isort
black
pydantic
python-dotenv
PyJWT
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
google-cloud-aiplatform
google-auth
openai
google-auth-oauthlib
google-cloud-pubsub
dnspython
